body, html, pre {
    margin: 0;
}
  
header {
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;
    min-height: 60px;
    width: 100%;
}

#wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}

#editorPane{
    flex: 1;  
    display: flex;
    flex-flow: row;
    overflow: hidden;
    font-size:1rem;
}

#inputPane {
    flex:2;
    border-right: solid 1px #ddd
}

@media screen and (max-width: 700px) {
    #editorPane {   
        flex-direction: column;
    }
    #inputPane {
        flex: 1;
    }
}
#outputPane {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 33vh;
}
#outputTerminal {
    color: white;
    background-color: black;
    overflow-y: scroll;
    flex: 1;
}
#turtlethreadOutput {
    overflow: scroll;
    flex: 3
}

#editor, #editor .CodeMirror {
    height: 100%;
}


.py-terminal {
    background-color:transparent;
    padding: 4px;
}



#menu{
    margin-top: 10px; 
    display: flex;
    flex-flow:row;
    align-content: bottom;
}

#leftMenuPane{
    flex:2;  
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#downloadLink {
    float:right;
    font-size: 1.25rem;
}

.headerIcon {
    font-size: 1.25rem;
    height: 1.25rem;
    width: 1.25rem;
  }

.editorPaneButton {
    font-size: 1.25rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 5px 10px;
}


#rightMenuPane{
    flex:0.96;
}

#runCodeBtn{
    margin-left: 30px;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #7CCAA2;
    border: solid 1px #164;
    color: #164;
}

#runCodeBtn:hover,  a#downloadLink {
    cursor: pointer;
}

#runCodeBtn::after {
    content: "";
    display: inline-block;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #164;
    border-bottom: 7px solid transparent;
    margin-left: 10px;
}

a.githubLink {
--cool-font-size: 1.25rem;
--small-margin: 10px;
    margin-right: 30px;
    float:right;
    font-size: calc(var(--cool-font-size) + var(--small-margin));
}
a.githubLink, a#downloadLink {
    color: black;
    text-decoration: none;
    
}
a.githubLink:visited, a#downloadLink:visited  {
    color:black;
}
  